<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col m-4">
                <h5 class="fw-light mb-3">Multimedia</h5>
                <h1 class="fw-bold text-dark">Recursos de estudio</h1>

                <h3 class="fw-bold text-dark mx-3 mt-4">Audios</h3> 
                <div class="container">
                    <div class="row">
                        <div class="col mt-5 pt-5">
                            <i class="material-icons">arrow_back_ios</i>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Audios/ia.jpg" alt="Data structures">
                            <h6 class="text-dark mt-3">Inteligencia artificial</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Audios/big_data.jpeg" alt="Data structures">
                            <h6 class="text-dark mt-3">Big Data</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Audios/ciencia.jpeg" alt="Data structures">
                            <h6 class="text-dark mt-3">Ciencia para todos</h6>
                        </div>
                        <div class="col mt-5 pt-5">
                            <i class="material-icons">arrow_forward_ios</i>
                        </div>
                    </div>
                </div>
    
                <h3 class="fw-bold text-dark mx-3 mt-4">Videos</h3> 
                <div class="container">
                    <div class="row">
                        <div class="col mt-5 pt-4">
                            <i class="material-icons">arrow_back_ios</i>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Videos/Data_structures.jpeg" alt="Data structures">
                            <h6 class="text-dark mt-3">Estructuras de datos</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Videos/Dynamic-Programming-101.png" alt="Data structures">
                            <h6 class="text-dark mt-3">Programación dinámica</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Videos/Sorting-Algorithms.png" alt="Data structures">
                            <h6 class="text-dark mt-3">Ordenamientos</h6>
                        </div>
                        <div class="col mt-5 pt-3">
                            <i class="material-icons">arrow_forward_ios</i>
                        </div>
                    </div>
                </div>
                <h3 class="fw-bold text-dark mx-3 mt-4">Libros</h3> 
                <div class="container">
                    <div class="row">
                        <div class="col mt-5 pt-4">
                            <i class="material-icons">arrow_back_ios</i>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Libros/cleancode.jpeg" alt="Data structures">
                            <h6 class="text-dark mt-3">Inteligencia artificial</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Libros/introduction.jpg" alt="Data structures">
                            <h6 class="text-dark mt-3">Big Data</h6>
                        </div>
                        <div class="col">
                            <img class="size-imagenes" src="../../../../../../assets/images/Libros/data.jpg" alt="Data structures">
                            <h6 class="text-dark mt-3">Ciencia para todos</h6>
                        </div>
                        <div class="col mt-5 pt-3">
                            <i class="material-icons">arrow_forward_ios</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

