<head>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col m-4">
                <h5 class="fw-light mb-3">Multimedia</h5>
                <h1 class="fw-bold text-dark mb-5">Recursos de estudio</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <input type="text" class="form-control custom-input mb-3 mx-3" placeholder="Grupo" />
                        <button class="custom-button mb-5">Buscar</button>
                    </div>
                </div>
                <h3 class="fw-bold text-dark mb-3 pad-categoria">Ciberseguridad</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="fw-bold text-dark mb-2 pad-nombres">· FC-HAT:</h5>
                            <h5 class="fw-light pad-links text-decoration-underline">https://t.me/+hiKvSRyHhx83MWMx</h5>
                            <h5 class="fw-bold text-dark mb-3 pad-nombres">· PentestingUNAM:</h5>
                            <h5 class="fw-light pad-links text-decoration-underline">https://t.me/+hiKvSRyHhx83MWMx</h5>
                        </div>
                    </div>
                </div>
                <h3 class="fw-bold text-dark mb-3 pad-categoria">Algoritmos</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="fw-bold text-dark mb-2 pad-nombres">· Clean Code:</h5>
                            <h5 class="fw-light pad-links text-decoration-underline">https://t.me/+hiKvSRyHhx83MWMx</h5>
                            <h5 class="fw-bold text-dark mb-3 pad-nombres">· Algorithm Analysis:</h5>
                            <h5 class="fw-light pad-links text-decoration-underline">https://t.me/+hiKvSRyHhx83MWMx</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>