<head></head>

<body>
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-6"> <!-- Grafica ocupando la mitad del espacio -->
                <img class="size-images mt-5" src="../../../../../assets/images/grafica.webp" alt="Grafica">
                <h2 class="text-dark fw-bold mt-5 pt-5">Certificaciones</h2>
                <h6 class="fw-light mt-3">
                    Valida tu conocimiento sobre una<br/>
                    materia con BitRoom.
                </h6>
                <div class="container custom-container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="custom-button mb-5 mt-2 mx-1">Mis certificaciones</button>
                        </div>
                        <div class="col">
                            <button class="custom-button-white mb-5 mt-2">Mas certificaciones</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6"> <!-- Logros ocupando la otra mitad -->

                <h2 class="text-dark fw-bold mt-5">Logros</h2>
                <h6 class="fw-light mt-3">
                    Revisas tus logros y las materias<br>
                    en las que haz tenido un mejor<br>
                    desempeño.
                </h6>
                <div class="container custom-container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="custom-button mb-5 mt-2 mx-1">Revisar</button>
                        </div>
                        <div class="col">
                            <button class="custom-button-white mb-5 mt-2">Hackea tu progreso</button>
                        </div>
                    </div>
                </div>

                <img class="size-images" src="../../../../../assets/images/medalla.svg" alt="Medalla">
            </div>
        </div>
    </div>
</body>
