<div class="container">
    <div class="row">
        <div class="col">
            <a href="sesion-de-estudio/">
                <img class="size-imagen-reloj" src="../../../../../assets/images/reloj.svg"
                    alt="Reloj de sesion de estudio">
                <h3 class="fw-bold text-dark">Comenzar sesión de estudio</h3>
                <p>Programa tu estudio según tu tiempo y objetivos</p>
            </a>
        </div>
        <div class="col">
            <a href="videos/">
                <img class="size-imagen-recursos" src="../../../../../assets/images/recursos.png"
                    alt="Recursos de estudio">
                <h3 class="fw-bold text-dark">Recursos de estudio</h3>
                <p>Videos, libros, juegos y mas para cada tipo de aprendizaje</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="comunidad/">
                <img class="size-imagen-grupos" src="../../../../../assets/images/grupos.svg" alt="Recursos de estudio">
                <h3 class="fw-bold text-dark">Mis grupos de estudio</h3>
                <p>Grupos privados, foros de discusión y mucho más</p>
            </a>
        </div>
        <div class="col">
            <a href="progreso/">
                <img class="size-imagen-progreso" src="../../../../../assets/images/progreso.svg" alt="Mi progreso">
                <h3 class="fw-bold text-dark">Mi progreso</h3>
                <p>Grupos privados, foros de discusión y mucho más</p>
            </a>
        </div>
    </div>
</div>