<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <h2 class="color-grey mb-3">Tiempo restante</h2>
        <h1 class="text-dark fw-bold mb-3">30:00</h1>
        <h6 class="color-grey mb-4">Restablecer teporizador</h6>
        <input type="text" class="form-control custom-input mb-3" placeholder="30:00" />
        <button class="custom-button mb-5">Iniciar</button>
        <h4 class="text-dark">Tareas pendientes</h4>
        <h6 class="color-grey mb-5">Trata de resolver hasta un máximo de 10 tareas en una sesión de estudio</h6>
        <div class="container contenedor-temas">
            <div class="row">
                <div class="col px-0 mx-n1">
                    <input type="text" class="form-control custom-temas mb-3 color-1" placeholder="QuickSort" />
                    <input type="text" class="form-control custom-temas mb-3 color-6" placeholder="Selection Sort" />
                </div>
                <div class="col px-0 mx-n1">
                    <input type="text" class="form-control custom-temas mb-3 color-2" placeholder="Merge Sort" />
                    <input type="text" class="form-control custom-temas mb-3 color-7" placeholder="Radix Sort" />
                </div>
                <div class="col px-0 mx-n1">
                    
                    <input type="text" class="form-control custom-temas mb-3 color-3" placeholder="Insertion Sort" />
                    <input type="text" class="form-control custom-temas mb-3 color-8" placeholder="" />
                </div>
                <div class="col px-0 mx-n1">
                    <input type="text" class="form-control custom-temas mb-3 color-4" placeholder="Bubble Sort" />
                    <input type="text" class="form-control custom-temas mb-3 color-9" placeholder="" />
                </div>
                <div class="col px-0 mx-n1">
                    <input type="text" class="form-control custom-temas mb-3 color-5" placeholder="Heap Sort" />
                    <input type="text" class="form-control custom-temas mb-3 color-10" placeholder="" />
                </div>
            </div>
        </div>
    </div>
</div>